---
layout: page
# The Home page layout
---
<h1>Giulia Rambelli</h1>
<div>I am a <b>Post-doc</b> for the <a href="https://www.abstractionproject.eu/">ABSTRACTION</a> project. 
  My research is at the intersection between theoretical linguistics, cognitive science, and machine learning. 
  I investigate the meaning aspects of language, interested in the underlying mechanisms in sentence interpretation 
  and productivity. In my thesis, I studied the balance between compositional and direct access to meaning, 
  and how the cognitive process of analogy can be represented as a source of linguistic productivity from a 
  theoretical and computational perspective. 
</div>
<br />
<div>I received several awards, including the Baidu <b>AACL-IJCNLP Best Paper Award 2020</b>, 
  the Best Paper Award at *SEM 2021, and the Outstanding Paper Award at MWE 2023. 
  In 2024, I published my first monograph, <a href="https://doi.org/10.1017/9781009437929">Constructions and Compositionality: Cognitive and Computational Explorations</a>, 
  with Cambridge University Press. 
  I published in major *CL conferences and workshops.
</div>
<br />
<div>
I obtained a joint PhD degree in Linguistics from the University of Pisa (Italy) and Aix-Marseille University (France), 
under the joint supervision of <a href="https://people.unipi.it/alessandro_lenci/" target="_blank">Alessandro Lenci</a> and 
<a href="https://cv.archives-ouvertes.fr/philippe-blache" target="_blank">Philippe Blache</a>. 
I was a member of the  <a href="http://colinglab.humnet.unipi.it/" target="_blank">Computational Liguistics 
  Laboratory</a> (University of Pisa) and the <a href="http://www.lpl-aix.fr/" target="_blank">Laboratoire Parole et Language</a> 
  (AMU) of the <a href="https://www.ilcb.fr/" target="_blank">Institute of Language, Communication, and the Brain</a> 
  (ILCB).
</div>

<br />
<div>
I am part of the organizing committee of the international workshops <a href="https://cmclorg.github.io/">Cognitive Modeling and Computational Linguistics</a> 
(since 2023) and <a href="https://analogy-angle.github.io/">Analogy-angle</a> (since 2025), 
colocated with leading conferences in NLP and AI (*CL, IJCAI).
</div>

<br />
<div style="text-align: center; margin: 20px 0;">
    <button type="button" class="btn btn-secondary" onclick="window.open('/assets/cv_Rambelli_2025_June.pdf', '_blank')" style="margin-left: 10px;">
        Download CV
    </button>
</div>

<h2>News</h2>
<ul>
    <li>26.08.2025 - I am attending the <a href="https://societaslinguistica.eu/sle2025/">SLE2025</a> in Bordeaux with a contribution in the 
      workshop "Towards a better understanding of analogy".</li>
    <li>27.07.2025 - I am attending the <a href="https://2025.aclweb.org/">ACL2025</a> in Vienna presenting a poster and organizing Analogy-angle II!</li>
    <li>23.06.2025 - I am attending the <a href="https://medal.ut.ee/event/medal-summer-school-in-computational-linguistics/">MEDAL summer school in computational modeling</a> in Birmingham (UK).</li>
    <li>20.05.2025 - Our paper <a href="https://arxiv.org/abs/2505.21301">"How Humans and LLMs Organize Conceptual Knowledge: 
      Exploring Subordinate Categories in Italian"</a> got accepted at ACL 2025 main coference! See you in Vienna!</li>
    <li>19.05.2025 - Marianna Bolognesi (ABSTRACTION PI) and I attended the cross-disciplinary meeting 
      "Analogy and Abstraction in AI" at the UvA's Institute for Advanced Studies (IAS) in Amsterdam.</li>
    <!--<li>07.04.2025 - I'm in Groningen visiting the <a href="https://www.rug.nl/research/clcg/research/cl/"> Computational Linguistics Group </a> for one month!</li>-->
    <!--<li>19.02.2025 - Invited talk at VU Amsterdam.</li>
    <li>17.12.2024 - My first manuscript is OUT! Download <a href="https://www.cambridge.org/core/elements/constructions-and-compositionality/FB02CE51043E8F82DCDC8B1E38353D28">here</a>.</li>
    <-->
  </ul>


 {% for tab in site.tabs %}
    {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}
    {% if tab_name=="activities" %}
         <a href="{{ tab.url | relative_url }}" class="nav-link">
        See all news and activities
      </a>

    {% endif %}
    {% endfor %}

<h2>Latest publications</h2>
{% assign publications = site.publications  |  sort: "publications.date" | reverse %}

<ul>
{% for pub in publications limit:3 %}
       <li> {{ pub.authors }} ({{ pub.year}}). <em>{{ pub.title }}</em>. {{ pub.publication_short }}</li>
{% endfor %}
</ul>

    <!-- the real tabs -->
    {% for tab in site.tabs %}
    {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}
    {% if tab_name=="publications" %}
         <a href="{{ tab.url | relative_url }}" class="nav-link">
        See all publications
      </a>

    {% endif %}
    {% endfor %}


<!--
{% assign pinned = site.posts | where: "pin", "true" %}
{% assign default = site.posts | where_exp: "item", "item.pin != true and item.hidden != true" %}

{% assign posts = "" | split: "" %}-->

<!-- Get pinned posts -->
<!--
{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}
-->
<!-- Get default posts -->
<!--
{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num  %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}-->
<!--
<div id="post-list">

{% for post in posts %}

  <div class="post-preview">
    <h1>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h1>

    <div class="post-content">
      <p>
        {% include no-linenos.html content=post.content %}
        {{ content | markdownify | strip_html | truncate: 200 | escape }}
      </p>
    </div>

    <div class="post-meta text-muted d-flex">
      <div class="mr-auto"> -->

        <!-- posted date --><!--
        <i class="far fa-calendar fa-fw"></i>
        {% include datetime.html date=post.date %}-->

        <!-- categories --><!--
        {% if post.categories.size > 0 %}
          <i class="far fa-folder-open fa-fw"></i>
          <span>
          {% for category in post.categories %}
            {{ category }}
            {%- unless forloop.last -%},{%- endunless -%}
          {% endfor %}
          </span>
        {% endif %}

      </div>

      {% if post.pin %}
      <div class="pin">
        <i class="fas fa-thumbtack fa-fw"></i>
        <span>{{ site.data.locales[site.lang].post.pin_prompt }}</span>
      </div>
      {% endif %}

    </div>--> <!-- .post-meta -->

  <!--</div> --><!-- .post-review -->

<!--{% endfor %}

</div>--> <!-- #post-list -->
<!--
{% if paginator.total_pages > 0 %}
  {% include post-paginator.html %}
{% endif %}
-->
