---
layout: page
# The Home page layout
---
<h1>Giulia Rambelli</h1>
<div>I am a <b>Post-doc</b> for the <a href="https://www.abstractionproject.eu/">ABSTRACTION</a> project. My research is at the intersection between theoretical linguistics, cognitive science, and machine learning. I investigate the meaning aspects of language, interested in the underlying mechanisms in sentence interpretation and productivity. In my thesis, I studied the balance between compositional and direct access to meaning, and how the cognitive process of analogy can be represented as a source of linguistic productivity from a theoretical and computational perspective. I published in ACL, AACL, LREC, COLING, TACL, and Cognitive Science.
</div>
<br />
<div>
I obtained a joint PhD degree in Linguistics from the University of Pisa (Italy) and Aix-Marseille University (France), under the joint supervision of <a href="https://people.unipi.it/alessandro_lenci/" target="_blank">Alessandro Lenci</a> and <a href="https://cv.archives-ouvertes.fr/philippe-blache" target="_blank">Philippe Blache</a>. I collaborate with the <a href="http://colinglab.humnet.unipi.it/" target="_blank">Computational Liguistics Laboratory</a> (University of Pisa). I was a member of the <a href="http://www.lpl-aix.fr/" target="_blank">Laboratoire Parole et Language</a> (AMU) of the <a href="https://www.ilcb.fr/" target="_blank">Institute of Language, Communication, and the Brain</a> (ILCB).
</div>

<br />
<div>
I am part of the organizing committee of the international workshops <a href="https://cmclorg.github.io/">Cognitive Modeling and Computational Linguistics</a> (since 2024) and <a href="https://analogy-angle.github.io/">Analogy-angle</a> (since 2025), colocated with leading conferences in NLP and AI (*CL, IJCAI).
</div>


<h2>News</h2>
<ul>
  <li>19.02.2025 - Invited talk at VU Amsterdam.</li>
<li>17.12.2024 - My first manuscript is OUT! Download <a href="https://www.cambridge.org/core/elements/constructions-and-compositionality/FB02CE51043E8F82DCDC8B1E38353D28">here</a>.</li>
<li>05.12.2024 - I attended <a href="https://clic2024.ilc.cnr.it/">CliC-it 2024</a> with one research communication paper.</li>
<li>15.08.2024 - We organized 13th edition of the Workshop on Cognitive Modeling and Computational Linguistics (CMCL 2024) co-located in ACL 2024.</li>
<li>11.08.2024 - I attended ACL 2024 with 2 accepted papers! </li>
</ul>

 {% for tab in site.tabs %}
    {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}
    {% if tab_name=="activities" %}
         <a href="{{ tab.url | relative_url }}" class="nav-link">
        See all news and activities
      </a>

    {% endif %}
    {% endfor %}

<h2>Latest publications</h2>
{% assign publications = site.publications  |  sort: "publications.date" | reverse %}

<ul>
{% for pub in publications limit:3 %}
       <li> {{ pub.authors }} ({{ pub.year}}). <em>{{ pub.title }}</em>. {{ pub.publication_short }}</li>
{% endfor %}
</ul>

    <!-- the real tabs -->
    {% for tab in site.tabs %}
    {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}
    {% if tab_name=="publications" %}
         <a href="{{ tab.url | relative_url }}" class="nav-link">
        See all publications
      </a>

    {% endif %}
    {% endfor %}


<!--
{% assign pinned = site.posts | where: "pin", "true" %}
{% assign default = site.posts | where_exp: "item", "item.pin != true and item.hidden != true" %}

{% assign posts = "" | split: "" %}-->

<!-- Get pinned posts -->
<!--
{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}
-->
<!-- Get default posts -->
<!--
{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num  %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}-->
<!--
<div id="post-list">

{% for post in posts %}

  <div class="post-preview">
    <h1>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h1>

    <div class="post-content">
      <p>
        {% include no-linenos.html content=post.content %}
        {{ content | markdownify | strip_html | truncate: 200 | escape }}
      </p>
    </div>

    <div class="post-meta text-muted d-flex">
      <div class="mr-auto"> -->

        <!-- posted date --><!--
        <i class="far fa-calendar fa-fw"></i>
        {% include datetime.html date=post.date %}-->

        <!-- categories --><!--
        {% if post.categories.size > 0 %}
          <i class="far fa-folder-open fa-fw"></i>
          <span>
          {% for category in post.categories %}
            {{ category }}
            {%- unless forloop.last -%},{%- endunless -%}
          {% endfor %}
          </span>
        {% endif %}

      </div>

      {% if post.pin %}
      <div class="pin">
        <i class="fas fa-thumbtack fa-fw"></i>
        <span>{{ site.data.locales[site.lang].post.pin_prompt }}</span>
      </div>
      {% endif %}

    </div>--> <!-- .post-meta -->

  <!--</div> --><!-- .post-review -->

<!--{% endfor %}

</div>--> <!-- #post-list -->
<!--
{% if paginator.total_pages > 0 %}
  {% include post-paginator.html %}
{% endif %}
-->
